.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

:root{
    --cor-primaria:#F5422C;
    --cor-secundaria:#442BF5;
    --cor-destaque:#F5D92C;
    --cor-verde:#2CF590;
    --cor-preto:#232020;
    --cor-branco:#cec6c6;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    color: var(--cor-preto);
}

body{
    background-color: var(--cor-verde);
}
.titulo{
    text-align: center;
    font-size: 48px;
    margin: 40px 0 80px;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    margin-inline: 8px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

.imagem-perfil{
    border-radius: 50%;
    width: 100px;
    margin: 0 auto; 
    display: block;
}

main{
    text-align: center;

}